<h1>Create a Classified</h1>

<%= form_for @classified do |form| %>
	<div>
		<%= form.label :title %>
		<%= form.text_field :title %>
	</div>
	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>
	<div>
		<%= fields_for @classified.category do |category_form| %>
		<%= category_form.label :name %>
		<%= category_form.text_field :name %>
		<% end %>
	</div>
	<div>
		<%= form.label :price %>
		<%= form.text_field :price %>
	</div>

	<%= form.submit "Create" %>
<% end %>